
// Font
// --------------------------------------------------
@font-face {
  font-family: 'ProximaNovaRegular';
  src: url('../fonts/ProximaNovaRegular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaSemibold';
  src: url('../fonts/ProximaNovaSemibold.otf');
  font-weight: normal;
  font-style: normal;
}
