.second__slider {
	max-width: 1280px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	 margin: 0 auto;
	 	&-slide1{
			height: 194px;
			display: flex;
			flex-wrap: wrap;
			flex-basis: 426px;
		 	background-image: url(../img/slide1.png);
		 	position: relative;
		 		img {
		 			position: absolute;
		 			bottom: 32px;
		 			left: 40px;
		 			}
		 		}
		&-slide2{
			height: 194px;
			display: flex;
			flex-wrap: wrap;
			flex-basis: 427px;
		 	background-image: url(../img/slide2.png);
		 	position: relative;
		 		img {
		 			position: absolute;
		 			bottom: 32px;
		 			left: 40px;
		 			}
		 		}
		 &-slide3{
			height: 194px;
			display: flex;
			flex-basis: 427px;
		 	background-image: url(../img/slide3.png);
		 	position: relative;
		 		img {
		 			position: absolute;
		 			bottom: 32px;
		 			left: 40px;
		 			}
		 		} 				
}
.second__slider-slide1:hover{
	 background-color: brown;
  		opacity: 0.5;
}
.second__slider-slide2:hover{
	 background-color: brown;
  		opacity: 0.5;
}
.second__slider-slide3:hover{
	 background-color: brown;
  		opacity: 0.5;
}