.shops__content {
	max-width: 1280px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0 auto;
	 			&-item1 {
					height: 299px;
					flex-basis: 426px;
					display: flex;
					flex-wrap: wrap;
		 			background-image: url(../img/item1.png);
		 			border: 0.5px solid #E3E3E3; 
		 			position: relative;
		 				span {
		 					font-family: 'ProximaNovaSemibold';
							position: absolute;
							bottom: 34px;
							left: 41px;
		 				}
		 				i {
		 					position: absolute;
		 					right: 33px;
		 					bottom: 33px;
		 				}
		 			}	
		 		&-item2 {
		 			// width: 426px;
					height: 299px;
					flex-basis: 426px;
					display: flex;
					flex-wrap: wrap;
		 			background-image: url(../img/item2.png);
		 			border: 0.5px solid #E3E3E3; 
		 			position: relative;
		 				span {
		 					font-family: 'ProximaNovaSemibold';
							position: absolute;
							bottom: 34px;
							left: 41px;
		 				}
		 				i {
		 					position: absolute;
		 					right: 33px;
		 					bottom: 33px;
		 				}
		 			}	
		 		&-item3 {
		 			height: 299px;
					flex-basis: 426px;
					display: flex;
					flex-wrap: wrap;
		 			background-image: url(../img/item3.png);
		 			border: 0.5px solid #E3E3E3; 
		 			position: relative;
		 				span {
		 					font-family: 'ProximaNovaSemibold';
							position: absolute;
							bottom: 34px;
							left: 41px;
		 				}
		 				i {
		 					position: absolute;
		 					right: 33px;
		 					bottom: 33px;
		 				}
		 			}	
		 		&-item4 {
		 			height: 299px;
		 			flex-basis: 426px;
					display: flex;
					flex-wrap: wrap;
		 			background-image: url(../img/item4.png);
		 			border: 0.5px solid #E3E3E3; 
		 			position: relative;
		 				span {
		 					font-family: 'ProximaNovaSemibold';
							position: absolute;
							bottom: 34px;
							left: 41px;
		 				}
		 				i {
		 					position: absolute;
		 					right: 33px;
		 					bottom: 33px;
		 				}
		 			}	
		 		&-item5 {
		 			height: 299px;
		 			flex-basis: 426px;
					display: flex;
					flex-wrap: wrap;
		 			background-image: url(../img/item5.png);
		 			border: 0.5px solid #E3E3E3;  
		 			position: relative;
		 				span {
		 					font-family: 'ProximaNovaSemibold';
							position: absolute;
							bottom: 34px;
							left: 41px;
		 				}
		 				i {
		 					position: absolute;
		 					right: 33px;
		 					bottom: 33px;
		 				}
		 			}	
		 		&-item6 {
		 			height: 299px;
		 			flex-basis: 426px;
					display: flex;
					flex-wrap: wrap;
		 			background-image: url(../img/item6.png);
		 			border: 0.5px solid #E3E3E3; 
		 			position: relative;
		 				span {
		 					font-family: 'ProximaNovaSemibold';
							position: absolute;
							bottom: 34px;
							left: 41px;
		 				}
		 				i {
		 					position: absolute;
		 					right: 33px;
		 					bottom: 33px;
		 					}
		 			}	
		 		&-item7 {
		 			height: 299px;
		 			flex-basis: 426px;
					display: flex;
					flex-wrap: wrap;
		 			background-image: url(../img/item7.png);
		 			border: 0.5px solid #E3E3E3; 
		 			position: relative;
		 				span {
		 					font-family: 'ProximaNovaSemibold';
							position: absolute;
							bottom: 34px;
							left: 41px;
		 				}
		 				i {
		 					position: absolute;
		 					right: 33px;
		 					bottom: 33px;
		 				}
		 			}	
		 		&-item8 {
		 			height: 299px;
		 			flex-basis: 426px;
					display: flex;
					flex-wrap: wrap;
		 			background-image: url(../img/item1.png);
		 			border: 0.5px solid #E3E3E3; 
		 			position: relative;
		 				span {
		 					font-family: 'ProximaNovaSemibold';
							position: absolute;
							bottom: 34px;
							left: 41px;
		 				}
		 				i {
		 					position: absolute;
		 					right: 33px;
		 					bottom: 33px;
		 				}
		 			}	
		 		&-item9 {
		 			height: 299px;
		 			flex-basis: 426px;
					display: flex;
					flex-wrap: wrap;
		 			background-image: url(../img/item9.png);
		 			border: 0.5px solid #E3E3E3; 
		 			position: relative;
		 				span {
		 					font-family: 'ProximaNovaSemibold';
							position: absolute;
							bottom: 34px;
							left: 41px;
		 				}
		 				i {
		 					position: absolute;
		 					right: 33px;
		 					bottom: 33px;
		 				}
		 			}	
	 			&-item10 {
	 				height: 299px;
		 			flex-basis: 426px;
					display: flex;
					flex-wrap: wrap;
		 			background-image: url(../img/item10.png);
					border: 0.5px solid #E3E3E3; 
		 			position: relative;
		 				span {
		 					font-family: 'ProximaNovaSemibold';
							position: absolute;
							bottom: 34px;
							left: 41px;
		 				}
		 				i {
		 					position: absolute;
		 					right: 33px;
		 					bottom: 25px;
		 				}
		 			}
		 		&-advertising{
					height: 299px;
					flex-basis: 854px;;
					display: flex;
					flex-wrap: wrap;
		 			background-image: url(../img/girl2.png);
		 			background-repeat: no-repeat;
					border: 0.5px outset #E3E3E3; 
		 			position: relative;	
						h4{
							position: absolute;
							top: 31px;
							left: 33px;						
							font-family: 'ProximaNovaBold';
							color:  #1e1e1e;
							font-size: 18px;
							font-weight: 700;
							line-height: 24px;
							}
						.text{
							max-width: 312px;
							height: 139px;
							position: absolute;
							top: 94px;
							left: 33px;
							font-family: 'ProximaNovaRegular';
							color:  #535151;
							font-size: 14px;
							font-weight: 400;
							line-height: 18px;					
						}	
		 		}		 		
}

.shops__content-item1:hover{ 
	background-image: url(../img/brown-black.png);
        opacity: 0.9;
}

.icon-button-on-item:hover{
	background-image: url(../img/icons/button-on-item-hover.png);
}